@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global Styles */

* {
  font-family: "Lato";
  /*background-color: #f4f3ee;*/
  scroll-behavior: smooth;
}

body {
  background-color: #ffeaea00;
  margin: 0;
}

div.title{
    text-align: center;
    color: #000000;
    font-size: 40px;
    margin-top: 10px;
}

div.title a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

div.title a:hover{
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

div.why{
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin: 30px 30% 30px 30%;
}

div.methods-wrapper{
background-color: lightblue;
}

div.methods{
  text-align: center;
  color: #000000;
  font-size: 40px;
  margin-top: 10px;
}

div.methods-info{
  text-align: center;
  color: #000000;
  font-size: 30px;
  margin: 30px 30% 30px 30%;
}

div.methods-info a{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

div.methods-info a:hover{
  color: #7243ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
}
